[submodule "ACL"]
	path = ACL
	url = https://github.com/gavin-blakeman/ACL.git
[submodule "PCL"]
	path = PCL
	url = https://github.com/gavin-blakeman/PCL.git
[submodule "SCL"]
	path = SCL
	url = https://github.com/gavin-blakeman/SCL.git
[submodule "MCL"]
	path = MCL
	url = https://github.com/gavin-blakeman/MCL.git
[submodule "WCL"]
	path = WCL
	url = https://github.com/gavin-blakeman/WCL.git
[submodule "qt-solutions"]
	path = qt-solutions
	url = https://github.com/qtproject/qt-solutions.git